# Directorios de compilación de Maven
/target/
**/target/

# Archivos de configuración de IDEs
../.idea/
*.iml
*.iws
*.ipr

.classpath
.project
.settings
.factorypath

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.vscode/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de log
*.log

**ROOT.war
